/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.trans_container {
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .05);
  background-image: url(/img/bg-trans-tile.png);
  background-repeat: repeat;
  text-align: center;
}

.color_chip {
  width: 50px !important;
  height: 50px !important;
  border-radius: 5rem;
  margin-top: 1rem;
}

.color_value {
  word-spacing: 4px;
}
