
:root {
    --base-font-size: 16px;
    --base-font-family: 'Source Sans Pro', sans-serif;
    --theme-hue: 215;
}

.logo_container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url(/assets/img/bg-trans-tile.png);
    background-repeat: repeat;
}

img {
    width: 100%;
    height: auto;
}

img.logo.dark {


}

.color_chip {
    width: 50px !important;
    height: 50px !important;
    border-radius: 5rem;
}

.color_value {
    word-spacing: 4px;
}