
:root {
    --base-font-size: 16px;
    --base-font-family: 'Source Sans Pro', sans-serif;
    --theme-hue: 206;
}

img {
    width: 100%;
    height: auto;
}

img.logo {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
}

img.logo.dark {


}